.page-link,
.page-item {
  background-color: rgba(164, 190, 170, 0.6);
  color: #eee;
  border: none;
  border-radius: 5%;

  &:hover {
    color: #eee;
    background-color: rgba(82, 121, 111, 0.6);
  }
}
