.center {
  padding: 20px;
  margin-top: 20%;

  input {
    width: 60%;
    padding: 8px;
    margin: 8px;

    border-radius: 1px;
    border: 1px solid #ccc;
    font-family: inherit;
  }
}

html {
  // height: 100%;
}

body {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.featured-img {
  background-color: rgba(132, 169, 140, 1);
  box-shadow: rgba(0, 0, 0, 0.2) 10px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 8px 8px 8px 8px;
  color: #eee;
  font-weight: 300;
}

.signinContainer,
.registerContainer {
  position: relative;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    border: 5px solid rgba(82, 121, 111, 0.6);
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    transition: all 0.25s ease-out;
  }
  &::before {
    border: 5px solid rgba(164, 190, 170, 0.6);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    top: -14px;
    left: -16px;
  }
  &::after {
    bottom: -14px;
    right: -15px;
  }
  &:hover {
    &::before {
      top: 15px;
      left: 15px;
    }
    &::after {
      bottom: 15px;
      right: 15px;
    }
  }
}

.registerContainer {
  width: 60%;
}

@media only screen and (min-width: 100px) and (max-width: 450px) {
  .registerContainer {
    width: 100%;
  }
}
.registerLink {
  margin-top: 10px;
}

.btnCustom {
  border: 1px solid rgba(82, 121, 111, 0.6);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(238, 238, 238, 0.3);
  color: #eee;
  &:hover {
    font-size: 18px;
    font-weight: 800;
    color: rgba(82, 121, 111, 1);
  }
}

.regLink {
  color: #eee;

  &:hover {
    font-size: 18px;
    font-weight: 800;
    color: rgba(82, 121, 111, 1);
  }
}
